<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>

    <link rel="icon" type="image/png" href="https://www.favicon.cc/logo3d/822979.png"/>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div>
    <h1 class="home_h"> About Store </h1>
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
    </div>
    {% endblock %}
  </body>
</html>